@model Funcionario

@{
} <div class="container mt-4">
    <h2>Detalhes do Funcionário</h2>

    <dl class="row">
        <dt class="col-sm-3">ID:</dt>
        <dd class="col-sm-9">@Model.Id</dd>

        <dt class="col-sm-3">Nome:</dt>
        <dd class="col-sm-9">@Model.Nome</dd>

        <dt class="col-sm-3">Idade:</dt>
        <dd class="col-sm-9">@Model.Idade</dd>

        <dt class="col-sm-3">CPF:</dt>
        <dd class="col-sm-9">@Model.CPF</dd>

        <dt class="col-sm-3">RG:</dt>
        <dd class="col-sm-9">@Model.RG</dd>

        <dt class="col-sm-3">Telefone:</dt>
        <dd class="col-sm-9">@Model.Telefone</dd>

        <dt class="col-sm-3">Email:</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <!-- Tabela de Pontos e Registros -->
        <!-- Formulário para Adicionar Novo Registro -->
        <form method="post" action="@Url.Action("AdicionarRegistro", "Ponto")">
            <h3>Adicionar Novo Registro</h3>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="data">Data:</label>
                    <input type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" class="form-control" id="data" name="data" required>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary" >Adicionar Registro</button>
            <br />
        </form>

        <dt class="col-sm-3">Pontos:</dt>
        <dd class="col-sm-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Entrada</th>
                        <th>Saída</th>
                        <th>Tempo</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ponto in Model.ListaDePontos)
                    {
                        <tr>
                            <td colspan="5"><strong>Data do Ponto:</strong> @ponto.DataRegistro.ToString("dd/MM/yyyy")</td>
                        </tr>
                        @foreach (var registro in ponto.Registros)
                        {
                            <tr>
                                <td></td>
                                <td>@registro.Entrada.ToString("HH:mm:ss")</td>
                                <td>@registro.Saida.ToString("HH:mm:ss")</td>
                                <td>@registro.Tempo.TotalHours horas</td>
                                <td>@registro.Tipo</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </dd>

    </dl>


</div>
